<article class="teaser teaser--link">
  <h2 class="visuallyhidden">{{ title }} →</h2 class="visuallyhidden">
  {{{ contents }}}
  Källa: <a href="{{ source }}" rel="external noopener noreferrer">{{ original }}</a>
  <footer class="teaser__footer">
    <a href="../{{ path }}"><time>{{ date }}</time></a>
    <a rel="author" href="../om">
      <img src="../mugshot.jpg" alt="Anders Ytterström">
    </a>
  </footer>
</article>