<article class="teaser teaser--link">
  <h2 class="h--media">{{ title }} →</h2>
  {{{ contents }}}
  Källa: <a href="{{ source }}" rel="external noopener noreferrer">{{ original }}</a>
  <footer class="teaser__footer">
    <a href="{{relroot}}{{ path }}"><time>{{ date }}</time></a>
  </footer>
</article>