<article class="teaser teaser--link">
  <p>
    {{ comment }}
  </p>
  <blockquote>
    {{{ contents }}}
  </blockquote>
  Källa: <a href="{{ source }}" rel="external noopener noreferrer">{{ title }}</a>
  <footer class="teaser__footer">
    <a href="../{{ path }}"><time>{{ date }}</time></a>
    <a rel="author" href="../om">
      <img src="../mugshot.jpg" alt="Anders Ytterström">
    </a>
  </footer>
</article>