<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | {{ name }}</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" title="madr.se stilmall" href="{{#if date}}../{{/if}}../madrse.css" />
  <link href="{{#if date}}../{{/if}}../prenumerera.xml" type="application/atom+xml" rel="alternate" title="madr.se" />
  <link rel="stylesheet" title="madr.se stilmall" href="../madrse.css" />
  <link href="../prenumerera.xml" type="application/atom+xml" rel="alternate" title="madr.se" />
  <link rel="canonical" href="{{ url }}/{{ path }}/" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ url }}/{{ path }}/" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:site_name" content="{{ name }}" />
</head>

<body>
  {{> header }}
  <main id="content">
    <article>
      <h1>{{ title }}</h1>

      <div id="about">
        {{{contents}}}
      </div>

      <div id="map">
        <h2>Geografisk utspridning<a class="anchor" href="#map">¶</a></h2>

        <figure>
          <div id="leaflet"></div>
        </figure>
      </div>

      <div id="upcoming">
        <h2>Kommande<a class="anchor" href="#upcoming">¶</a></h2>

        <ul>
          {{#upcoming upcoming }}
          <li itemscope="" itemtype="http://schema.org/Event">
            <strong itemprop="name">
              {{ title }}
            </strong>
            <div itemprop="description">{{ lead }}.</div>
          </li>
          {{/upcoming}}
        </ul>
      </div>
      <div id="past">
        {{#each events}}
        {{> teaser-event}}
        {{/each}}
      </div>
    </article>
  </main>
  {{> aside }}
  {{> footer }}
  <script>
    var mapData = [
    {{#each events}}
    {
      location: [
        {{location.latitude}},
        {{location.longitude}}
      ],
      title: "{{title}}",
      date: "{{date}}",
      region: "{{region}}",
      venue: "{{venue}}"
    }{{#unless @last}},{{/unless}}
    {{/each}}
    ]
  </script>
  <script src="../event-map.js" async defer></script>
</body>

</html>