<!doctype html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <title>{{ title }} | {{ name }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" title="madr.se stilmall" href="{{#if date}}../{{/if}}../madrse.css">
  <link href="{{#if date}}../{{/if}}../prenumerera.xml" type="application/atom+xml" rel="alternate" title="madr.se">
  <link rel="stylesheet" title="madr.se stilmall" href="../madrse.css">
  <link href="../prenumerera.xml" type="application/atom+xml" rel="alternate" title="madr.se">
  <link rel="canonical" href="{{ url }}/{{ path }}/">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ url }}/{{ path }}/">
  <meta property="og:image" content="{{ image }}">
  <meta property="og:site_name" content="{{ name }}">
</head>

<body>
  {{> header }}
  <main id="content">
    {{#if archived}}
    <p class="alert--archived"><i>
        Detta är ett arkiverat inlägg, som importerats
        hit för referens. Det kan se konstigt ut och
        innehålla utdaterad information eller inaktuella
        åsikter.
      </i></p>
    {{/if}}
    <article>
      <h1>📆 {{ title }}</h1>



      <article class="teaser teaser--media">
        <figure>
          {{#if img}}
          <img src="../../img/{{ img }}" alt="poster">
          {{else}}
          <i class="no-image">Ingen poster</i>
          {{/if}}
        </figure>
        <div class="teaser--media__summary">
          <p>{{ lead }}.</p>
          {{#if bands}}
          <p><strong>Förband</strong>:<br>
            {{#each bands}}
            {{#unless @first}}
            {{.}}{{#unless @last}},{{/unless}}
            {{/unless}}
            {{/each}}
          </p>
          {{/if}}
          {{#if best}}
          <p><strong>Personliga höjdpunkter</strong>:<br>
            {{#each best}}
            {{.}}{{#unless @last}},{{/unless}}
            {{/each}}
          </p>
          {{/if}}
          {{#if mia}}
          <p><strong>Band jag missade</strong>:<br>
            {{#each mia}}
            {{.}}{{#unless @last}},{{/unless}}
            {{/each}}
          </p>
          {{/if}}
          {{#if release}}
          <p><strong>Album-aktuella med</strong>:<br> <i>"{{ release.name }}"</i></p>
          {{/if}}
          {{{contents}}}
        </div>
        <footer class="teaser__footer">
          <a href="../../{{ path }}"><time>{{ date }}</time></a>
          <a rel="author" href="../om">
            <img src="../../mugshot.jpg" alt="Anders Ytterström">
          </a>
        </footer>
      </article>



    </article>
  </main>
  {{> aside }}
  {{> footer }}
</body>

</html>