<!doctype html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" title="madr.se stilmall" href="/madrse.css">
  <!-- <meta name="robots" value="noindex,nofollow"> -->
</head>
<body>
  {{> header }}
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
  {{{ contents }}}
  {{#each pagination.files}}
    <a href="{{path}}">{{title}}</a>
  {{/each}}
  {{> footer }}
</body>
</html>