<!doctype html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <title>{{ title }} | {{ name }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" title="madr.se stilmall" href="{{#if date}}../{{/if}}../madrse.css">
  <link href="{{#if date}}../{{/if}}../prenumerera.xml" type="application/atom+xml" rel="alternate" title="madr.se">
  <link rel="stylesheet" title="madr.se stilmall" href="../madrse.css">
  <link href="../prenumerera.xml" type="application/atom+xml" rel="alternate" title="madr.se">
  <link rel="canonical" href="{{ url }}/{{ path }}/">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ url }}/{{ path }}/">
  <meta property="og:image" content="{{ image }}">
  <meta property="og:site_name" content="{{ name }}">
</head>

<body>
  {{> header }}
  <main id="content">
    <article>
      <h1>{{ title }}</h1>
      <p>🎥 {{ lead }}.</p>
      {{{contents}}}
      <figure>
        {{#if img}}
        <img src="../../img/{{ img }}" alt="poster">
        {{else}}
        <i class="no-image">Ingen poster</i>
        {{/if}}
      </figure>
    </article>
  </main>
  {{> aside }}
  {{> footer }}
</body>

</html>