<!doctype html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} | {{ name }}</title>
  <meta name="viewport" content="width=device-width">
  <!-- <link rel="stylesheet" title="madr.se stilmall" href="/madrse.css"> -->
  <link rel="canonical" href="{{ url }}/{{ path }}/">
</head>
<body>
  {{> header }}
  <main id="content">
    {{#if archived}}
      <p class="alert--archived"><i>
        Detta är ett arkiverat inlägg, som importerats
        hit för referens. Det kan se konstigt ut och
        innehålla utdaterad information eller inaktuella
        åsikter.
      </i></p>
    {{/if}}
    <h1>{{ title }}</h1>
    {{{ contents }}}
  </main>
  {{> footer }}
</body>
</html>
